/*----estilos generales torre M--*/

/*--fonts--*/
/*@font-face{
	font-family: 'helveticaneuelight';
	src: url('fonts/helveticaneue-light-webfont.eot') format('embedded-opentype'),
	url('fonts/helveticaneue-light-webfont.woff') format('woff'),
	url('fonts/helveticaneue-light-webfont.ttf') format('truetype'),
	url('fonts/helveticaneue-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'helveticaLTS';
	src: url('fonts/HelveticaLTStd-BoldCond.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'helveticaLTS-cond';
	src: url('fonts/HelveticaLTStd-Cond.otf');
	font-weight: normal;
	font-style: normal;
}


@font-face{
	font-family: 'helveticaLTS-obl';
	src: url('fonts/HelveticaLTStd-CondObl.otf');
	font-weight: normal;
	font-style: normal;
}*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



html, body{font-family: 'Roboto Condensed', sans-serif; font-size:100%; height:100%; /*background-image:url(../img/cielo.jpg); background-size: cover;*/}

/*---helper clases--*/
.center{text-align: center;}
.inline{display: inline-block; vertical-align: middle;}
.left{float:left;}
.right{float:right;}
.white-bg{background-color:#fff;}

/*--header y nav--*/
.main-hdr{background-color:#85cfce; position:fixed; z-index:1000; width:100%; text-align: center;}
.menu{list-style-type: none; background-color:#2b313e; margin:0; padding:1% 0;}
.menu li{display: inline-block; }
.menu li a{text-decoration: none; color:#85cfce; border-right:2px solid #85cfce; padding:0 10px; display: block; font-size: .9em; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight:700; -o-transition:color 0.30s ease-in;-webkit-transition: color 0.30s ease-in;-moz-transition: color 0.30s ease-in;transition: color 0.30s ease-in;}
.menu li a:hover, .menu li.active a{color:#fff;}
.menu li:last-of-type a{border-right:none;}

.logo{width:8%; display: block; margin:0 auto; padding: .5% 0;}
.logo img{width:100%; display: block;}

.section{/*margin-top:4.2%;*/ overflow: hidden; height:auto!important;}
.bg{background-image:url(../img/cielo.jpg); background-size: cover; background-repeat: no-repeat; position:relative;}

/*---inicio---*/
#section0{height:100%!important; margin-top:7%;}
.torre-eme{display: block; width: 58%; position:relative; left:27%; top: 0%;}
.text-overlay{display: block; width:26%; position:absolute; left: 15%; top: 12%; font-family: helvetica, Arial, sans-serif; font-weight:bolder; font-size: 7.9em; margin:0; line-height: .8em; color:#85cfce; letter-spacing: -9px;}
.overlay-txt-p{position:absolute; left: 20%; top: 22.5%; width:12%; font-size: .8em; font-weight:300; color:#2b303e;font-family: 'Roboto Condensed', sans-serif; font-weight: 300;}
.overlay-txt-p2{position:absolute; left: 21%; top: 34.5%;; width:12%; font-size: .8em; font-weight:300; color:#2b303e; font-family: 'Roboto Condensed', sans-serif; font-weight: 300;}
footer{background-color:#2b313e; padding:1% 0 3% 0; font-family: helvetica, arial, sans-serif; font-weight: lighter; position: absolute; bottom:0; width:100%;}
footer p{margin:0; color:#85cfce; font-size: .9em; font-family: helvetica, arial, sans-serif; font-weight: lighter;}
footer a{text-decoration: none; color:#85cfce; font-family: helvetica, arial, sans-serif; font-weight: lighter;}



/*--mazatlan--*/
.mazatlan{width:100%; background-image: url(../img/mazatlan-bg.jpg); background-size:cover;  height:48%;}
.maz-content{background-color: rgba(0, 0, 0, 0.4); height:90%;  padding: 6% 5% 6% 5%; width: 33%; margin:0 auto; text-align: center;}
.maz-content h1{color:#85cfce; margin:0; font-size: 1.5em;}
.maz-content p{color:#fff; font-size: .8em; font-weight: 400; line-height: 1.2em; margin-bottom: 0; font-family: helvetica, arial, sans-serif; font-weight: lighter;}
.maz-bar{display: block; margin:6% auto; }
.maz-flecha{display: block;margin: -3% auto 0 auto;}
.ver-ubicacion{display: block; position:absolute; top:-5%; left:45%; background-color:#fff; color:#000; text-decoration: none; text-align: center; padding:.5%; font-size: .8em; font-weight: bold; width: 9%;}
.map-cont{background-color:#85cfce; position: relative;}
.mapa{display: block; width: 75%; /*height: 45%;*/ margin:0 auto;}

/*--torre eMe--*/
.slide img{display: inline-block; vertical-align: top;}
.left-img{width: 33%;}
.middle-img{width: 33%; margin: 0 .26%;}
.right-img{width: 33%;}

.section {position: relative;   }
.slide {float: left;}
.slide, .slidesContainer {display: block;}
.slides {overflow: hidden;position: relative;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.slide.table {display: table; width: 100%;}
.tableCell {/*display: table-cell;*/ vertical-align: middle;width: 100%; height:auto!important;}
.slides .tableCell {display: table-cell;vertical-align: middle;width: 100%;height:50%!important;padding-top:0;}
.slidesContainer {float: left;position: relative;}
.controlArrow {position: absolute;top: 24%;cursor: pointer;width: 0;height: 0;margin-top: -38px;}
.controlArrow.prev {
    left: 33.4%;
    width: 2%;
    background-image: url(../img/prev-img.jpg); background-repeat: no-repeat;
    height:10%;
    /*border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;*/
}
.controlArrow.next {
    right: 33.4%;
    width: 2%;
    height:10%;
    background-image: url(../img/next-img.jpg); background-repeat: no-repeat;
    /*border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;*/
}

.gray-bar{background-color:#2b303e; width:100%; padding:1% 0;}
.torre-eme-p{width:40%; margin:0 auto; color:#85cfce; font-size: .8em;}
.torre-ubicacion-p{width:40%; margin:0 auto; color:#2b303e; font-size: .8em; padding:1% 0; display: inline-block; vertical-align: middle;}

.ubicacion-img{display: block; width:100%;}

.desc-presentacion{}

/*--Plantas--*/
.plantas-top{width:100%; background-color:#fff; padding:2% 0 1% 0;}
.plantas-top h2{margin:0; font-weight: normal; font-size:1.2em; text-transform: uppercase;}
.plantas-top p{margin:0; font-style: italic; font-size: .9em;}

.plantas-center{width:100%; background-image:url(../img/plantas-bg.jpg); background-repeat: no-repeat; background-size:cover; height:38%;}
.plantas-center-inner{background-color: rgba(124, 193, 192, 0.8); width: 39%; padding: 1% 2% ; margin: 0 auto;height: 92%;}
.plantas-center-inner p{border-top:1px solid #fff; border-bottom:1px solid #fff; text-align: center; padding:.5% 0; font-size: 1em; margin:0;}
.recamara-num-btn{display:inline-block; vertical-align: top; width:22%; margin:4% 2%; opacity: 1; -o-transition: opacity 0.30s ease-in;-webkit-transition: opacity 0.30s ease-in;-moz-transition: opacity 0.30s ease-in;transition: opacity 0.30s ease-in; background-image:url(../img/recamara-btn.png); background-repeat: no-repeat; background-position: center center; text-align: center; background-size: 100%; padding:12% 0; text-decoration: none; color:#2b313e; font-weight: bold;}
.recamara-num-btn span{font-size: 1.7em;}
.recamara-num-btn:hover{opacity:.5;}

.recamara-num-btn img{display: block; width: 100%;}
.descargar-pres-btn{display: inline-block; float:right; margin-top:4%; color:#2b303e; text-decoration: none; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight:700; font-size:.6em;}

.plantas-bottom{width:100%; background-color:#2b303e; padding:1% 0;}
.plantas-bottom p{color:#85cfce; text-transform: uppercase; font-size: .9em;font-family: 'Roboto Condensed', sans-serif; margin:0;}
.desc-ficha-tec{display: inline-block;margin-top:4%; color:#2b303e; text-decoration: none; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight:700; font-size:.6em;}

/*--plantas info--*/
.plantas-info-container{-moz-transition-duration: .55s;
-moz-transition-property: height;
-moz-transition-timing-function: ease-in-out;
-webkit-transition-duration: .55s;
-webkit-transition-property: height;
-webkit-transition-timing-function: ease-in-out;
transition-duration: .55s;
transition-property: height;
transition-timing-function: ease-in-out;
overflow: hidden;
position: fixed;
left: 0;
top: 0;
background: #fff;
width: 100%;
height: 0;
z-index: 750;}

.plantas-info-container-inner{width:49%; margin:0 auto; padding:10% 0 0 0;}
.planta-detalle-paginacion{clear:both; margin:2% 0; width:49%; float:right;}
.recamaras-list{list-style-type: none; border-top:1px solid #000; border-bottom:1px solid #000; padding:0; margin:0; text-align: center; padding:8px 0;}
.planta-detalle-paginacion a{cursor: pointer;}
.recamaras-list li{display: inline-block; vertical-align: middle; padding:0 15px; border-right:1px solid #000;}
.recamaras-list li:nth-child(3){border:none;}
.recamaras-list li a{color:#000; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; font-size: .9em; font-weight: 700; cursor: pointer;}
.recamaras-list li a:hover, .recamaras-list li a.active{color:#85cfce;}

.modelo-btn{width:6%; background-image: url(../img/modelo-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size:100%; display: inline-block; vertical-align: top; text-decoration: none; color:#2b303e; font-family: 'Roboto Condensed', sans-serif; text-align: center; padding: 2% 0% 2% 0%; font-weight: bold; cursor: pointer; opacity: 1; -o-transition: opacity 0.30s ease-in;-webkit-transition: opacity 0.30s ease-in;-moz-transition: opacity 0.30s ease-in;transition: opacity 0.30s ease-in; }

.modelo-btn:hover{opacity:.7;}

.planta-tipo-detalle{width:49%; float:left; margin-top:4%;}
.planta-tipo-detalle h2{color:#000; font-size: 1em; font-family: 'Roboto Condensed', sans-serif; border-top:1px solid #000; border-bottom:1px solid #000; margin:0; padding:3% 0 1%;}

.planta-tipo-detalle p{ffont-family: 'Roboto Condensed', sans-serif; font-size: .8em; text-transform: uppercase;}
.plano-planta{width:49%; float:right; margin-top:4%;}
.plano-planta img{width:100%;}

.inner-white{width:100%; background-color:#fff; margin-bottom: 5%;}
.pager-cont{width:50%; margin:0% auto 2%; position: relative;}
.pager-cont h2{width: 162px ;margin: 0 auto 10px auto; background-color: #85cfce;text-align: center;padding: 5px;font-size:.8em; }
.bx-wrapper .bx-viewport{height:auto!important;}

.bx-pager a{text-decoration: none;font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase;font-size: .8em; color:#000; padding:0 8px; display: inline-block;vertical-align: middle; border-right:1px solid #000; font-weight: 700;}
.bx-pager a:last-of-type{border:none;}
.bx-pager a.active{color:#85cfce;}
.bxslider img{display:block;  margin:0 auto;}
.bx-controls{position: absolute; top: 42px; z-index: 12; width: 100%}
.bx-controls a{position:absolute;}
.bx-prev{left:2%;}
.bx-next{right:2%;}


/*--Amenidades--*/
.amenidades-top{background-image: url(../img/amenidades-bg.jpg); background-repeat: no-repeat; background-size: cover; width:100%; height:46%; }
.amenidades-inner{background-color: rgba(148, 222, 219, 0.7); width: 18%; padding: 3% 12% ; margin:0 auto; height:92%;}
.amenidades-bot{display: block; width:100%; margin-bottom:15%;}
.amenidades-inner h2{text-align: center; color:#2b313e; font-size: 1.3em;}
.amenidades-inner p{color:#fff; font-size: .9em; font-family: 'Roboto Condensed', sans-serif; font-weight:400;}
.amenidades-inner ul{list-style-type: none; color:#fff; padding: 0 0 0 5%;}
.white-bar{display: block; margin:2% auto; }

/*--contacto--*/
.contact-form{padding: 0 3%;}
.contacto-top{background-image:url(../img/contacto-bg.jpg); background-repeat: no-repeat; background-size: cover; width: 100%; height: 63%;}
.contacto-inner{background-color: rgba(0, 0, 0, 0.4);height: 91%;padding: 1% 0% 2% 0%; width: 45%;margin: 0 auto;}
.contacto-inner .hdr-cont{background-color:#85cfce; padding: 1% 0; margin: 3% 0 2% 0;}
.contacto-inner h2{color:#fff; font-family: 'Roboto Condensed', sans-serif; font-weight:700; font-size: 1.1em; margin:0; text-align: center;}

.input-cont{width:48%; padding:0 1%;}
.input-cont label{display:block; color:#fff; font-size:.9em; font-family: helvetica, arial ,sans-serif; margin:2% 0; font-weight: 400;}
.input-cont input[type="text"]{display: block; width:98%; margin:2% 0}
.input-cont textarea{display: block; width:98%; height:5em; margin:2% 0}
.input-cont input[type="submit"]{display: block; width:100%; margin: 10% 0; padding: 1.5% 0; border:1px solid #85cfce; background-color:#85cfce; color:#fff; font-weight: bold; font-size: .8em;}
.full-concept{width: 68%; margin: 5% 30%; font-family: helvetica, arial ,sans-serif;}
.full-concept a{display: inline-block; vertical-align: bottom; width:30%;}
.full-concept a img{display: block; /*width:100%;*/}
.telefono{color:#fff; font-size: 1.4em;}
.rights{color:#fff; font-size: .7em; margin:0;  font-family: helvetica, arial ,sans-serif;}


.ventas{background-color:#85cfce; padding:1% 0; font-size:.8em;  font-family: helvetica, arial ,sans-serif;}
.ventas-inner{width: 34%; margin:0 auto;}
.ventas-mod:nth-child(2){width:42%; padding:0 0 0 2%; font-size:.8em;  font-family: helvetica, arial ,sans-serif;}
.ventas-mod:nth-child(1){border-right: 1px solid #000; padding:0 2% 0 0; width: 46%; font-size:.8em;  font-family: helvetica, arial ,sans-serif;}

/*--360---*/
.video-flash{width:100%; height:500px; display:block;}
.aqua-bar{background-color:#85cfce; width:100%; padding:2% 0; margin-bottom:10%;}



.owl-pagination{display:none;}
.owl-buttons{position: absolute; top: 44%; width: 100%;}
.owl-prev{position: relative; left: -15%; background-image: url(../img/prev-img.jpg); background-repeat: no-repeat;}
.owl-next{position: relative; right:-15%; background-image: url(../img/next-img.jpg); background-repeat: no-repeat;}
.torre-imgs .item{margin: 0 2px;}

.torre-imgs .item img{display: block;width: 100%;height: auto;}




/*---media queries---*/
/*--mobile phones--*/
@media all and  (min-width : 320px) and (max-width : 759px){
	
}

/*--tablets--*/
@media all
and (min-width : 760px) and (max-width : 1024px) {
	
}


/* Large screens ----------- */
@media all
and (min-width : 1600px) {
#section0{height:100%!important; margin-top:3.5%;}
.logo {width: 5%;padding: .5% 0;}
.menu {padding: .5% 0;}

.text-overlay {font-size: 12em;}
.maz-content {width: 18%; padding: 5% 5% 5% 5%;}
.torre-eme-p {width: 33%; padding: 1.5% 0;}
.torre-ubicacion-p {width: 33%; padding: 3% 0;}
.recamara-num-btn span{font-size: 2em;}
.pager-cont h2 {padding: 12px;font-size: .9em;}

.video-flash {height: 700px;display: block;}

.left-img{width: 33%;}
.middle-img{width: 33%; margin: 0 .34%;}
.right-img{width: 33%;}


.controlArrow.prev {left: 33.4%;}
.controlArrow.next {right: 32.4%;}
}
